<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <%= @user_friends.each do |u| %>
      <% if !find_friendship(current_user.id, u.id).nil? %>
        <%= link_to 'hello', user_path(u.id) %>
      <% end %>
    <% end %>
  </article>
</section>
